
* {
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    font-family: 'Antonio', sans-serif;
    font-size: 1rem;
}

.removed {
  	display: none;
}

.menu {
    padding: 16px;
    background: #222;
}

.contract {
    text-align: center;
    > h1 {
        z-index: 1500;
        background: white;
        position: sticky;
        top: 0;
        padding: 16px;
        margin: 0;
    }
}

.tokens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    > div {
        position: relative;
        width: 100vw;
        height: 100vw;
        img, iframe, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
}

.token {
    position: fixed;
    top: 0; left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    animation: fade-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
    animation-fill-mode: forwards;
    backdrop-filter: brightness(4) blur(20px);
    > div {
        background: white;
        position: relative;
        width: 100%;
        img, iframe, video {
            width: 100%;
            margin-bottom: -2px;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.token-detail {
    z-index: 1000;
    position: absolute;
    bottom: 0; left: 0;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: brightness(2) blur(10px);
    width: 100%;
    height: 3.2rem;
    padding: 4px;
    > div {
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    > .time {
        font-size: 0.8rem;
    }
}

.token .token-detail {
    height: 8rem;
    bottom: -8rem;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: none;
    > div {
        font-size: 2rem;
    }
    > .time {
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) {
    .tokens > div {
        width: 50vw;
        height: 50vw;
    }
}
@media (min-width: 768px) {
    .tokens > div {
        width: 33.3333vw;
        height: 33.3333vw;
    }
}
@media (min-width: 992px) {
    .tokens > div {
        width: 25vw;
        height: 25vw;
    }
}
@media (min-width: 1200px) {
    .tokens > div {
        width: 20vw;
        height: 20vw;
    }
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: rgb(32, 64, 255, 1)
}

input, button {
    border: none;
    background: #fff;
    font-family: 'Antonio', sans-serif;
    font-size: 1rem;
    margin: 8px;
    padding: 8px;
}